import os


os.environ.setdefault("DEVELOPMENT", 1)
os.environ.setdefault("AWS_ACCESS_KEY_ID", "insert_aws_access_key_id_here")
os.environ.setdefault("AWS_SECRET_ACCESS_KEY", "insert_aws_secret_access_key_here")
os.environ.setdefault("DATABASE_URL", "insert_postgres_db_url_here")
os.environ.setdefault("EMAIL_ADDRESS", "insert_email_address_here")
os.environ.setdefault("EMAIL_PASSWORD", "insert_password_here")
os.environ.setdefault("SECRET_KEY", "insert_secret_key_here")
os.environ.setdefault("STRIPE_PUBLISHABLE", "insert_stripe_publishable_key_here")
os.environ.setdefault("STRIPE_SECRET", "insert_stripe_secret_key_here")
